body {
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
  background: #000;
}

.text2 {
  font-size: clamp(20px, 7vw, 60px);
  font-family: "Outfit", sans-serif;
}

.others {
  width: 80vw;
  margin-left: 10vw;
  margin-top: -10vh;
  margin-bottom: 5vh;
}

.others p {
  color: #ffffff;
  font-size: clamp(14px, 5vw, 48px);
  font-family: "Outfit", sans-serif;
}

.others2 {
  width: 80vw;
  margin-left: 10vw;
  margin-top: -10vh;
  margin-bottom: 5vh;
  color: #ffffff;
  font-size: clamp(14px, 5vw, 48px);
  font-family: "Outfit", sans-serif;
}

.ptitle {
  font-size: clamp(20px, 7vw, 60px);
  margin-bottom: 0;
  font-family: "Outfit", sans-serif;
}

.detail {
  font-size: clamp(12px, 4vw, 40px);
  margin-top: -5vh;
  margin-bottom: 0;
  font-family: "Outfit", sans-serif;
}

.container2 {
  display: flex;
  width: 100vw;
  height: 10vh;
  min-height: 220px;
  margin: 0;
}

.button-container {
  width : 100% ;
  height : 500px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
  position : relative ;

  margin-bottom: 200px;
  max-height: 500px;
  margin-top: -100px;
}